*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgb(241, 237, 190), rgb(202, 126, 214));
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: 0;
  background-color: rgb(248, 240, 255, 0.6);
}
.calculator-grid > button:hover {
  background-color: rgb(248, 240, 255, 0.9);
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: rgb(149, 119, 167);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  color: rgb(244, 240, 246);
}
.output .previous-operand {
  color: rgb(244, 240, 246);
  font-size: 1.5rem;
}
.output .current-operand {
  color: rgb(244, 240, 246);
  font-size: 2.5rem;
}
